body, html {
    background-color: #121212;
}

#app {
    padding: 12px;
}

td, th {
    vertical-align: middle !important;
}

td.active, th.active {
    background-color: #2c2e32;
    color: white;
}

td.success {
    background-color: #28a7457a;
}

.data-column {
    border-left: 1px solid #454d55;
    border-right: 1px solid #454d55;
    width: 120px;
    text-align: center;
}

.name-column {
    text-align: right !important;
}

.data-column span:last-child {
    font-weight:bold;
    font-size: small;
}

a {
    color: white;
}