body, html {
    background-color: #121212;
}

.item-view {
    background-color: #343a40;
    padding: 12px;
}

.item-view__header {
    margin-bottom: 12px;
    display: flex;
    justify-content: space-between;
}

.item-view__remove {
    color: lightcoral;
}

.item-view__chart-wrapper {
    height: 150px;
    position: relative;
}

a {
    color: white;
}