body, html {
    background-color: #121212;
}

.item-view, .menu {
    background-color: #343a40;
    padding: 12px;
}

.menu {
    display: block;
    color: white;
}

.item-view--danger {
    background-color: #1f0000;
}

.item-view__diff {
    font-size: smaller;
}

.item-view__diff--positive, .item-view__pin {
    color: lightgreen;
}

.item-view__diff--negative {
    color: lightcoral;
}

.item-view__header {
    display: flex;
    justify-content: space-between;
}

.item-view__remove {
    color: lightcoral;
}

.item-view__chart-wrapper {
    height: 150px;
    position: relative;
    margin-top: 12px;
}

a {
    color: white;
}